PORT=3000
NODE_ENV=development



# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Email Configuration
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_gmail_app_password
EMAIL_FROM=Peregrine Construction <wasieacuna@gmail.com>

# Firebase Configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket


# MAILS_API_KEY=0f97f6a8-e298-4546-9200-144529ed9ba2
# EMAIL_FROM=wasieacuna@gmail.com
